---
layout: default
title: Error 404
permalink: "/404.html"
---

<div class="container" style="width: 100%; margin-top: 70px;">
  <aside class="callout" style="background: url({{ "/img/404.jpg" | prepend: site.url }}) no-repeat center center scroll;">
    <div class="text-vertical-center">
      <img src="{{ "/img/logo.svg" | prepend: site.url }}"width="250px" alt="Logo">
      <h1>Upss, parece que ésta página no se encuentra</h1>
      <hr class="small">
      <h2 class="landing-text">Error 404</h2>
    </div>
  </aside>
</div>
