---
layout: default
title: "Acerca de"
permalink: /acerca-de
---

<div class="jumbotron">
    <div class="container"  style="margin-top: 70px;">
      <h1 class="sub-text">Nuestro equipo</h1>
      <p font-size="1.75rem" font-weight="300">Las personas que hacen posible que todo funcione.</p>

      <div class="row vdivider">
        <div class="col-lg-4">
          <img class="img-circle" src="img/avatar_2.png" alt="Generic placeholder image" width="140" height="140">
          <h3>Salvador Montiel</h3>
          <p color="#333">Desarrollador móvil y web</p>
          <!--<a role="button" class="btn btn-primary" aria-label="Profile">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
          </a>-->
          <a href="https://github.com/SMontiel" role="button" class="btn btn-default" aria-label="Profile">
            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
          </a>
          <a href="https://www.facebook.com/salvador.montiel.18" role="button" class="btn btn-primary" aria-label="Profile">
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
          </a>
          <a href="mailto:salvadormontiel8@gmail.com"  role="button" class="btn btn-default" aria-label="Profile">
              <i class="fa fa-envelope fa-2x"></i>
          </a>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="img/avatar_3.png" alt="Generic placeholder image" width="140" height="140">
          <h3>Fernando</h3>
          <p color="#333">Desarrollador movil</p>
          <a href="https://www.facebook.com/FeerAntoonio" role="button" class="btn btn-primary" aria-label="Profile">
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
          </a>
          <a href="mailto:feerantoonio@gmail.com"  role="button" class="btn btn-default" aria-label="Profile">
              <i class="fa fa-envelope fa-2x"></i>
          </a>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="img/avatar_4.png" alt="Generic placeholder image" width="140" height="140">
          <h3>Hilario Abat</h3>
          <p color="#333">Desarrollador web</p>
          <a href="https://www.facebook.com/profile.php?id=100010868139176" role="button" class="btn btn-primary" aria-label="Profile">
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
          </a>
          <a href="mailto:galletitacrux@gmail.com"  role="button" class="btn btn-default" aria-label="Profile">
              <i class="fa fa-envelope fa-2x"></i>
          </a>
        </div>
      </div>
      <hr>
      <div class="row vdivider">
        <div class="col-lg-6">
          <img class="img-circle" src="img/avatar_2.png" alt="Generic placeholder image" width="140" height="140">
          <h3>Analleli</h3>
          <p color="#333">Director de Publicidad</p>
          <a href="https://www.facebook.com/ImAnayeli" role="button" class="btn btn-primary" aria-label="Profile">
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
          </a>
          <a href="mailto:anayely06@gmail.com"  role="button" class="btn btn-default" aria-label="Profile">
              <i class="fa fa-envelope fa-2x"></i>
          </a>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-1/p100x100/13407061_1746401088971483_4408836685621227931_n.jpg?oh=3d7ec3b00a32b76975988eb4ba1eb3ef&oe=58C669E0" alt="Generic placeholder image" width="140" height="140">
          <h3>Quique</h3>
          <p color="#333">Desarrollador web</p>
          <a href="https://www.facebook.com/enriquedelangelantonio.811" role="button" class="btn btn-primary" aria-label="Profile">
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
          </a>
          <a href="mailto:delangelenrique811@gmail.com"  role="button" class="btn btn-default" aria-label="Profile">
              <i class="fa fa-envelope fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <div class="container">
      <div class="row vdivider">
        <div class="col-lg-6">
          <h1 class="sub-text">Nuestra Misión</h1>
          <p font-size="1.75rem" font-weight="300">Diseñar las páginas web más bellas. Diseñar y desarrollar las aplicaciones más potentes de la plataforma Android. Tenemos como compromiso desarrollar y ofrecer un servicio de software de alta calidad, mediante la utilización de la tecnología más innovdora y con el personal debidamente capacitado, para satisfacer las necesidades tecnológicas del cliente.</p>
        </div>
        <div class="col-lg-6">
          <h1 class="sub-text">Visión</h1>
          <p font-size="1.75rem" font-weight="300">Ser una empresa líder en el mercado de desarrollo de software para empresas tanto a nivel local, nacional y mundial, creando software innovador y original que satisfaga las necesidades tecnológicas del momento.</p>
        </div>
      </div>
    </div>
  </div>

  {% include map.html %}
