---
layout: default
title: Desarrollo de Software y Consultoría
---

<div class="container" style="width: 100%; margin-top: 70px;">
  <aside class="callout" style="background: url(../img/photo-2.jpg) no-repeat center center scroll; height: 400px;">
    <div class="text-vertical-center landing-text">
      <img src="img/logo.svg"width="250px" alt="Logo">
      <h2 class="landing-text"><b>“Tú lo pides, nosotros lo hacemos realidad”</b></h2>
      <hr class="small">
      <span class="sub-text">Somos una empresa dedicada al desarollo de software y consultoría.</span><br><br>
      <p>Desarrollo de software con enfoque en web y aplicaciones móviles.</p>
      <p>EdeSoft es una empresa de tecnología creativa. Desarrollamos código estable para construir software sólido. También proporcionamos servicios de consultoría y formación para el desarrollo ágil.</p>
      <!--<p>Paper is a simple, flat Bootstrap theme. Please check out the source on Github. Check out the <a href="../pages/getting-started.html">Getting Started Guide.</a> or Check out the Readme on the <a href="https://github.com/sudharti/paper" target="_blank">Github page.</a></p>-->
      <br><br>
    </div>
  </aside>
</div>

<div class="jumbotron">
    <div class="container">
      <h1 class="sub-text">Nuestros Servicios</h1>
      <hr style="margin: 15px auto; border-width: 2px; border-color: grey;"></hr>

      <div class="jumbo">
        <span class="sub-text"><b>Edesoft Studio</b></span>
        <p>El desarrollo de software con el foco en aplicaciones móviles. Nos gustan los proyectos desafiantes y complejos, el más ambicioso y complejo, mejor. ¡Dale!!</p>
        <p> - Desarrollo de software personalizado</p>
        <p> - Desarrollo de programas informáticos como producto</p>
      </div>
      <div class="jumbo">
        <span class="sub-text"><b>Edesoft Consultoría</b></span><br>
        <p>Información de evaluación de la arquitectura y el análisis de rendimiento con el fin de elaborar recomendaciones a medida para ayudar a las empresas que están buscando para hacer frente a situaciones heredadas y una modernización de sus sistemas de tecnología.</p>
        <p> - Auditoría de infraestructura de TI / Escalabilidad y Evaluación del Desempeño.</p>
        <p> - Desarrollo de la Estrategia TI.</p>
        <p> - Revisión de Arquitectura de Software.</p>
      </div>
      <div class="jumbo">
        <span class="sub-text"><b>Edesoft Campus</b></span><br>
        <p>Nuestro proyecto paralelo para compartir todo lo que hemos aprendido a lo largo de los años en el negocio de la ingeniería de software. Que van desde las empresas a los cursos de los usuarios, ofrecemos una serie de cursos de programación, con especial atención al desarrollo móvil haciendo hincapié en los principios del código limpio, patrones de diseño y pruebas automatizadas.</p>
        <p> - Desarrollo nativo de apps Android.</p>
        <p> - Arquitectura de Software.</p>
        <p> - Integración continua y el despliegue continuo.</p>
      </div>
    </div>
  </div>
