---
layout: default
title: Portafolio
permalink: /portafolio
---

<div class="container" style="width: 100%; margin-top: 70px;">
  <aside class="callout">
    <div class="text-vertical-center">
      <img src="{{ "/img/logo.svg" | prepend: site.url }}"width="250px" alt="Logo">
      <h1>Portafolio</h1>
    </div>
  </aside>

  <section id="portfolio" class="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
          <h2>Nuestro Trabajo</h2>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <div class="portfolio-item">
                <a data-toggle="modal" data-target="#file-manager">
                  <img class="img-portfolio img-responsive" src="img/manager.jpg">
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="portfolio-item">
                <a data-toggle="modal" data-target="#notify">
                  <img class="img-portfolio img-responsive" src="img/notify.jpg">
                </a>
              </div>
            </div>
          </div>
          <!-- /.row (nested) -->
        </div>
        <!-- /.col-lg-10 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>

  <!-- Modal -->
<div id="file-manager" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">XPlorer Administrador de archivos</h4>
      </div>
      <div class="modal-body">
        <p>Un ligero y rápido administrador de archivos para Android</p>
        <!--<p>Algunas imágenes...</p>-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="notify" class="modal fade" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Notify</h4>
    </div>
    <div class="modal-body">
      <p>App para programar recordatorios utilizando las notificaciones para Android</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    </div>
  </div>

</div>
</div>
</div>
