<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ site.author }}">
  <link rel="icon" href="{{ "/favicon.ico" | prepend: site.url }}">
  <!-- favicon's -->
  <link rel="apple-touch-icon" sizes="57x57" href="{{ "/apple-icon-57x57.png" | prepend: site.url }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ "/apple-icon-60x60.png" | prepend: site.url }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ "/apple-icon-72x72.png" | prepend: site.url }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ "/apple-icon-76x76.png" | prepend: site.url }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ "/apple-icon-114x114.png" | prepend: site.url }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ "/apple-icon-120x120.png" | prepend: site.url }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ "/apple-icon-144x144.png" | prepend: site.url }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ "/apple-icon-152x152.png" | prepend: site.url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-icon-180x180.png" | prepend: site.url }}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ "/android-icon-192x192.png" | prepend: site.url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | prepend: site.url }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ "/favicon-96x96.png" | prepend: site.url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | prepend: site.url }}">
  <link rel="manifest" href="{{ "/manifest.json" | prepend: site.url }}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ "/ms-icon-144x144.png" | prepend: site.url }}">
  <meta name="theme-color" content="#ffffff">

  {% seo title=false %}

  <!-- Bootstrap core CSS -->
  <link href="{{ "/css/bootstrap.min.css" | prepend: site.url }}" rel="stylesheet" media="none" onload="if(media!='all')media='all'">
  <!-- Custom styles for this template -->
  <link href="{{ "/css/styles.css" | prepend: site.url }}" rel="stylesheet" media="none" onload="if(media!='all')media='all'">

  <!--<link href="{{ "/css/materialdesignicons.min.css" | prepend: site.url }}" rel="stylesheet" media="none" onload="if(media!='all')media='all'">-->
  <link href="{{ "/css/font-awesome.min.css" | prepend: site.url }}" rel="stylesheet" media="none" onload="if(media!='all')media='all'">
  {% assign current = page.url | downcase | split: '/' %}
  {% if current[1] == 'blog' %}
  <link href="{{ "/css/clean-blog.css" | prepend: site.url }}" rel="stylesheet" media="none" onload="if(media!='all')media='all'">
  {% endif %}

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="{{ "/js/html5shiv.min.js" | prepend: site.url }}"></script>
    <script src="{{ "/js/respond.min.js" | prepend: site.url }}"></script>
  <![endif]-->

  {% feed_meta %}
</head>
