
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script async src="{{ "/js/jquery.min.js " | prepend: site.url }}"></script>
<script async src="{{ "/js/bootstrap.min.js " | prepend: site.url }}"></script>
<script async src="{{ "/js/jquery.backstretch.min.js " | prepend: site.url }}"></script>
{% if page.image_background %}
<script async>
  $(document).ready(function(){
    $.backstretch('{{ page.image_background }}', {speed: 400});
  });
</script>
{% endif %}

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script async src="{{ "/js/ie10-viewport-bug-workaround.js " | prepend: site.url }}"></script>

{% assign current = page.url | downcase | split: '/' %}
{% if current[1] == 'blog' %}
<script async src="{{ "/js/clean-blog.js " | prepend: site.url }}"></script>
{% endif %}
