<center>
  <h2>Donde nos encuentras</h2>
<section id="map" class="map">
  <iframe id="map_iframe"
    width="80%"
    height="100%"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3124.7581585126995!2d-98.22460392358484!3d21.35110128602209!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2smx!4v1479307108135"
    allowfullscreen>
  </iframe>
  <br>
</section>
</center>
