{% assign current = page.url | downcase | split: '/' %}
<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <!--<li class="active"><a href="">Inicio</a></li>-->
              <li {% if current[1] == null %}class='active'{% endif %}>
                  <a href="{{ site.baseurl }}/">Inicio</a>
              </li>
              <li {% if current[1] == 'portafolio' %}class='active'{% endif %}>
                  <a href="{{ site.baseurl }}/portafolio">Portafolio</a>
              </li>
              <li {% if current[1] == 'blog' %}class='active'{% endif %}>
                  <a href="{{ site.baseurl }}/blog">Blog</a>
              </li>
              <li {% if current[1] == 'acerca-de' %}class='active'{% endif %}>
                  <a href="{{ site.baseurl }}/acerca-de">Acerca de</a>
              </li>
            </ul>
        </div>
    </div>
</nav>
