<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

    {% include js.html %}

    {% include google_analytics.html %}

</body>

</html>
